{
    "client_id": "",
    "client_secret": "",
    "user_agent": "",
    "redirect_uri": "",
    "refresh_token": "",
    "username": "",
    "password": "",
    "sender_mail": "",
    "sender_pass": "",
    "apikey": "",
    "redditor": "",
    "subreddit": "",
    "crosspost": "",
    "emails": [
        ""
    ]
}